extends ./layouts/base.jade

block title
  title Slider navigation ASSE slider example

block content
  .wrapper(style="margin:50px auto; width:800px; height:400px;")
    .slider.slider-navigationTarget
      .slideContainer
        ul.slides
          li.slide(style="background-image:url('../../res/nin01.jpg')")
          li.slide(style="background-image:url('../../res/nin02.jpg')")
          li.slide(style="background-image:url('../../res/nin03.jpg')")
          li.slide(style="background-image:url('../../res/nin04.jpg')")
          li.slide(style="background-image:url('../../res/nin05.jpg')")
          li.slide(style="background-image:url('../../res/nin06.jpg')")
          li.slide(style="background-image:url('../../res/nin07.jpg')")

  .navigation-wrapper(style="margin:50px auto; width:800px; height:0px; overflow:hidden;")
    .slider.slider-navigation(style="height: 200px;")
      .slideContainer
        ul.slides
          li.slide
            .inner(style="background-image:url('../../res/nin01.jpg')")
          li.slide
            .inner(style="background-image:url('../../res/nin02.jpg')")
          li.slide
            .inner(style="background-image:url('../../res/nin03.jpg')")
          li.slide
            .inner(style="background-image:url('../../res/nin04.jpg')")
          li.slide
            .inner(style="background-image:url('../../res/nin05.jpg')")
          li.slide
            .inner(style="background-image:url('../../res/nin06.jpg')")
          li.slide
            .inner(style="background-image:url('../../res/nin07.jpg')")

  .wrapper(style="margin:50px auto; width:800px; height:400px;")
    button#hide-navigation Show navigation
    p This example shows using a second slider as a navigation element.
      It's initialized hidden, which was particularly tricky to implement with iScroll,
      since hidden iScroll elements initialize with zero slides.

  link(rel="stylesheet",href="./css/slider-navigation.css")
  script(type="text/javascript",src="../../bower_components/underscore/underscore.js")
  script(type="text/javascript",src="../../bower_components/jquery/dist/jquery.js")
  script(type="text/javascript",src="../../bower_components/iscroll/build/iscroll.js")
  script(type="text/javascript",src="../js/asse-slider.js")
  script(type="text/javascript").
    var navigation = $('.slider-navigation').Slider({
      slideMargin: '6',
      slideWidth: '250',
      snap: '.inner',
      autoscroll: false,
      navigation: [],
      inactiveSlideOpacity: '0.3',
      debug: false
    });

    var mainSlider = $('.slider-navigationTarget').Slider({
      navigation: ['index',navigation]
    });

    navigation.Slider('set', 'onSlideClick', function(event,slider){
      mainSlider.Slider('stopAutoScroll');
      mainSlider.Slider('goToSlide',$(event.currentTarget).index());
    });

    navigation.Slider('set', 'onNextClick', function(event,slider){
      mainSlider.Slider('stopAutoScroll');
      mainSlider.Slider('goToSlide',slider.currentSlide);
    });

    navigation.Slider('set', 'onPrevClick', function(event,slider){
      mainSlider.Slider('stopAutoScroll');
      mainSlider.Slider('goToSlide',slider.currentSlide);
    });

    $('#hide-navigation').click(
      function(){
        $('.navigation-wrapper').css('height','200px');
      }
    );

