extends ./layouts/base.jade

block title
  title Slider navigation ASSE slider example

block content
  .wrapper(style="margin:50px auto; width:800px; height:400px;")
    .slider.slider-navigationTarget
      .slideContainer
        ul.slides
          li.slide(style="background-image:url('../../res/nin01.jpg')")
          li.slide(style="background-image:url('../../res/nin02.jpg')")
          li.slide(style="background-image:url('../../res/nin03.jpg')")
          li.slide(style="background-image:url('../../res/nin04.jpg')")
          li.slide(style="background-image:url('../../res/nin05.jpg')")
          li.slide(style="background-image:url('../../res/nin06.jpg')")
          li.slide(style="background-image:url('../../res/nin07.jpg')")

  .navigation-wrapper(style="margin:50px auto; width:800px; height:0px; overflow:hidden;")
    .slider.slider-navigation(style="height: 200px;")
      .slideContainer
        ul.slides
          li.slide
            .inner(style="background-image:url('../../res/nin01.jpg')")
          li.slide
            .inner(style="background-image:url('../../res/nin02.jpg')")
          li.slide
            .inner(style="background-image:url('../../res/nin03.jpg')")
          li.slide
            .inner(style="background-image:url('../../res/nin04.jpg')")
          li.slide
            .inner(style="background-image:url('../../res/nin05.jpg')")
          li.slide
            .inner(style="background-image:url('../../res/nin06.jpg')")
          li.slide
            .inner(style="background-image:url('../../res/nin07.jpg')")

  .wrapper(style="margin:50px auto; width:800px; height:400px;")
    button#hide-navigation Show navigation
    p This example shows using a second slider as a navigation element.
      It's initialized hidden, which was particularly tricky to implement with iScroll,
      since hidden iScroll elements initialize with zero slides.
    p Also, the next/prev buttons are outside the slider element, given as selector options

    button#prev(data-slider-prev="slider_navigationTarget") Prev
    button#next(data-slider-next="slider_navigationTarget") Next

  link(rel="stylesheet",href="./css/slider-navigation.css")
  script(type="text/javascript",src="../../bower_components/underscore/underscore.js")
  script(type="text/javascript",src="../../bower_components/jquery/dist/jquery.js")
  script(type="text/javascript",src="../../bower_components/iscroll/build/iscroll.js")
  script(type="text/javascript",src="../js/asse-slider.js")
  script(type="text/javascript").

    var mainSlider = $('.slider-navigationTarget').Slider({
      index: 'navigationTarget',
      navigation: ['index'],
      carousel: 2,
      prevButtonSelector: 'button#prev',
      nextButtonSelector: 'button#next',
      onScrollEnd: function(){
        console.log('Scroll ended');
      }
    });

    var navigation = $('.slider-navigation').Slider({
      index: 'navigation',
      slideMargin: '6',
      slideWidth: '250',
      snap: '.inner',
      autoscroll: false,
      navigation: [],
      inactiveSlideOpacity: '0.3',
      carousel: 5,
      debug: true
    });

    navigation.Slider('set', 'listenTo', 'navigationTarget')
    mainSlider.Slider('set', 'listenTo', 'navigation')


    $('#hide-navigation').click(
      function(){
        $('.navigation-wrapper').css('height','200px');
      }
    );

