extends ./layouts/base.jade

block title
  title Thumbnail navigation ASSE Slider Example

block content
  .wrapper(style="margin:50px auto; width:800px; height:400px;")
    .slider
      .slideContainer
        ul.slides
          li.slide(style="background-image:url('../../res/nin01.jpg')")
          li.slide(style="background-image:url('../../res/nin02.jpg')")
          li.slide(style="background-image:url('../../res/nin03.jpg')")
          li.slide(style="background-image:url('../../res/nin04.jpg')")

    .thumbnail-navigation
      div(style="background-image:url('../../res/nin01.jpg')")
      div(style="background-image:url('../../res/nin02.jpg')")
      div(style="background-image:url('../../res/nin03.jpg')")
      div(style="background-image:url('../../res/nin04.jpg')")

  link(rel="stylesheet",href="./css/thumbnail-navigation.css")
  script(type="text/javascript",src="../../bower_components/underscore/underscore.js")
  script(type="text/javascript",src="../../bower_components/jquery/dist/jquery.js")
  script(type="text/javascript",src="../../bower_components/iscroll/build/iscroll.js")
  script(type="text/javascript",src="../js/asse-slider.js")
  script(type="text/javascript")
    $('.slider').Slider({navigationElement: $('.thumbnail-navigation')});
