doctype html
html(lang="en")
  head
    block title
      title ASSE Slider
    link(rel="stylesheet",href="../../bower_components/normalize.css/normalize.css")
    link(rel="stylesheet",href="../../bower_components/fontawesome/css/font-awesome.css")
    link(rel="stylesheet",href="../css/main.css")
  body
    block content
